.large-icon {
	font-size: 250px;
}
.light-on {
	color: yellow;
}
.react-grid-layout {
	position: relative;
	transition: height 200ms ease;
}
.react-grid-item {
	transition: all 200ms ease;
	transition-property: left, top;
}
.react-grid-item.cssTransforms {
	background: white;
	transition-property: transform;
}
.react-grid-item.resizing {
	z-index: 1;
}
.react-grid-placeholder {
	opacity: 0.2;
	transition-duration: 100ms;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.react-grid-item.react-draggable-dragging {
	transition: none;
	z-index: 3;
}
.react-draggable {
	position: relative;
}
.react-draggable-active {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.react-grid-resize-handle {
	position: absolute;
	opacity: 0;
	width: 20px;
	height: 20px;
	line-height: 28px;
	font-size: 20px;
	text-align: right;
	cursor: se-resize;
}
.react-grid-item:hover .react-grid-resize-handle {
	opacity: 1;
}

#users {
    color: white;
	/*background-color: #fd5158;*/
	/*border: 1px solid #bbb0a3;*/
	font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.user {
	width: 20%;
	float : left;
	border: 1px solid #bbb0a3;
	text-align: center;
}

.game {
	height: 380px;
	width: 100%;
	float: left;
}

#sphero{
	/*border: 3px solid #df565b; /*#28bcb3;*/
}

.sphero-heading{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #fd5158;
}

.sphero-sub-heading{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	color: white;
}

.sphero-axel-value{
	font-size: 30px;
	color: #28bcb3;
	width: 33%;
	float : left;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.sphero-info{
	font-size: 30px;
	color: #28bcb3;
	text-align: center;
	margin-top: 0px;
	margin-bottom: -5px;
}

#circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%x;
    border-radius: 50%;
    border: 3px solid #fd5158;
    width: 80%;
    margin-left: 10%;
	height: 0;
    padding-bottom: 80%;
    float: left;

}

.color{
	text-transform: uppercase;
	width: 100%;
	float: left;
	text-align: center;
	color: white;
	font-size: 15px;
	margin-top: 5%;
}

.color-number{
	font-size: 20px;
	margin-bottom: 5%;
}

#stats {
	margin-top: 30px;
}

.stats-element{
	color : white;
	font-size: 15px;
	width: 100%;
	float: left;
}

.stats-letter{
	/*color: #28bcb3;*/
	font-size: 25px;
}

.stats-key{
	width: 55%;
	float: left;
	text-transform: uppercase;
	padding-left: 2%
}
.stats-value{
	width: 45%;
	float: left;
	font-size: 25px;
	color: #28bcb3;
	text-align: right;

}

.temp {
	background-color: #df565b;
	height: 260px;
}
#cy {
	background-color: #252525;
	border: 1px solid #bbb0a3;
	width: 100%;
	height: 0;
    padding-bottom: 100%;
}

#beacons {
	display: flex;
	flex-wrap: wrap;
}

.beacon {
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
	color:white;
	font-size: 50px;
	font-weight: bold;

}

.mint {
	background-image: url("../images/mint.png");
	background-size: 100px 100px;
}

.lemon {
	background-image: url("../images/lemon.png");
	background-size: 110px 130px;
}

.bubblegum {
	background-image: url("../images/bubblegum.png");
	background-size: 110px 130px;
}

.mint1 {
	background-image: url("../images/mint.png");
	background-size: 100px 100px;
}

.chocolateicecream {
	background-image: url("../images/mint.png");
	background-size: 100px 100px;
}

.chocolateicecream1 {
	background-image: url("../images/mint.png");
	background-size: 100px 100px;
}

.ice {
	background-image: url("../images/beacon_light_blue.png");
	background-size: 100px 100px;
}

.blueberry {
	background-image: url("../images/blueberry.png");
	background-size: 90px 120px;
}

.merlot {
	background-image: url("../images/merlot.png");
	background-size: 70px 100px;
}
